* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    line-height: 22px;
    color: #363232;

    background-color: white;
    overflow-x: hidden;



}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;

}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.logo img {
    margin-top: 2.5em;
    margin-right: 0;
    margin-left: 5em;
}

.navbar {
    background-color: #e84d3b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    height: 68px;
}

.nav-item {
    padding: 0 40px 0 40px;
}

.nav-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.offcanvas-backdrop {
    width: 0;
    height: 180vh;
}

#hero {
    background-image: url(../img/pexels-tima-miroshnichenko-5685765\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner1 {
    background-image: url(../img/Idea1-BannerHome\ 1.png);
    background-repeat: no-repeat;
    background-position: left 185px top 127px;
}

#banner3 {
    background-image: url(../img/Idea1-BannerHome\ 3.png);
    background-repeat: no-repeat;
    background-position: right bottom 120px;
}

#banner2 {
    background-image: url(../img/Idea1-BannerHome\ 2.png);
    background-repeat: no-repeat;
    background-position: right 187px bottom;
}

#banner4 {
    background-image: url(../img/Idea1-BannerHome\ 4.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

h1 {
    margin-bottom: 0;
}

.bannerPrincipal {
    background: linear-gradient(rgba(33, 29, 28, 0.70), rgba(33, 29, 28, 0.70));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    color: #F9F9F9;
}

.bannerPrincipal button {
    font-family: 'Source Sans Pro', sans-serif;
    border-style: none;
    border-radius: 20px;
    background: #1DA7D3;
    color: #fff;
    width: 222px;
}

.titulo {
    font-family: 'Montserrat';
    color: #E84D3B;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34.5px;
    text-align: center;
    margin-bottom: 28px;
}

#containerQuinto {
    height: 750px;
    background-color: #FBBE1F;
    margin-bottom: 200px;


}

.tituloQuinto {
    text-align: left;
    
}


.textoQuinto {
    width: 60%;
    position: relative;
    top: -1000px;
    z-index: 12;
    text-align: left;
    /* or 108% */
}

.texto {

    width: 450px;
    color: #363232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-right: 5%;
    padding: 0 10% 0 10%;

}


.imagenQuinto {
    width: 440px;
    height: 442px;

}

.subtitulo {
    font-family: 'Montserrat';
    color: #363232CC;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    margin-top: 28px;
    margin-bottom: 28px;
}

/* padre triangulos */

.parent {
    position: relative;



}

/* triangulo blanco */

.child {
    top: 358px;
    border-top: 950px solid #f9f9f9;
    border-left: 70vw solid transparent;
    border-right: 70vw solid transparent;
    width: 0;
    height: 0;
    top: 0px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: -20.5%;
    right: 0;
    margin: auto;
    z-index: 4;

}

/* triangulo azul */
.parent2 {
    position: relative;


}

.child2 {

    border-top: 110px solid #1da5d3;
    border-left: 7.5vw solid transparent;
    border-right: 7.5vw solid transparent;
    width: 0;
    height: 0;
    top: -200px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}

.btnContainer {
    display: inline-block;
    position: relative;
}

.btn5Plan {
    position: absolute;
    bottom: 2em;
    right: 8em;
    border-style: none;
    width: 233PX;
    margin-top: 28px;
    margin-bottom: 0px;
    background: #1DA7D3;
    border-radius: 20px;
    border-style: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}





#containerCompromisos {
    text-align: center;
    background-color: rgba(250, 216, 194, 0.5);
    position: relative;
    top: -200px;
    height: 2200px;

}


#compromisos {
    margin-top: 280px;
    width: 1008px;
    display: inline-block;
    text-align: center;

}

.tituloContainerCompromisos {
    margin-bottom: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    z-index: 3;

}

.cuadroCompromiso {
    position: relative;
    height: 253px;
    top: -140px;
    z-index: 3;
    /* width: 60%; */


}

.divCirculos {
    width: auto;
}

.circulo {
    position: relative;
    top: 165px;
    left: -5.4%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #1DA7D3;
    transform: rotate(270deg);


}

/* .circuloFondo {

    position: relative;
    top: 166px;
    left: 4.9%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: white;
    transform: rotate(90deg)
} */

.circuloGrande {
    position: relative;
    top: 210px;
    left: -5.4%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #1DA7D3;
    transform: rotate(270deg)
}

/* .circuloFondoGrande {
    position: relative;
    top: 190px;
    left: 4.9%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: white;
    transform: rotate(90deg)
} */

.numeroCompromiso {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.25px;
    transform: rotate(90deg);
    position: relative;
    top: 55%;
}


.compromiso {

    background: #FFFFFF;
    height: 232px;
    width: 81%;
    display: inline-block;
    margin-bottom: 27px;
    padding-left: 15%;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 2%;

}

.compromisoGrande {
    margin-bottom: -60px;
    height: fit-content;
}


.nombreCompromiso {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #E84D3B;
    line-height: 30.5px;



}

.responsable {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

}

.textoCompromisos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);

    letter-spacing: 0.25px;
}

.avances {
    text-align: end;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.0125em;
}

.parent3 {
    position: relative;
    z-index: 8;
    height: 280px;

}

/* triangulo rosa */

.child3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 650px 0 0 49.5vw;
    position: relative;
    top: -850px;
    border-color: transparent transparent transparent white;
    ;
}

.child4 {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 650px 49.5vw;
    border-color: transparent transparent white transparent;
    top: -1500px;
    left: 50%;
}

.parent5 {
    position: relative;

}

.child5 {

    border-top: 110px solid #1da5d3;
    border-left: 8.5vw solid transparent;
    border-right: 8.5vw solid transparent;
    width: 0;
    height: 0;
    top: -650px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;

}

.textoPlanesAnteriores {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #1A1A1B;
    text-align: center;
    letter-spacing: 0.0015em;
}

.botonesPlanes {
    position: relative;
    top: -20px;
    z-index: 20;
}

.btnPlanes {
    width: 105px;
    background: white;
    margin: 10px;
    color: #1da5d3;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #1da5d3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}

#calendario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -580px;
    background-color: white;
}

#containerAcerca {
    background-color: white;
}

#divAcerca {
    margin-top: 178px;
    margin-left: 22.9vw;
    margin-right: 22.9vw;
    text-align: center;

}

.tituloAcerca {
    font-family: 'Montserrat';
    color: #E84D3B;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34.5px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 63px;
}

.btnAcerca {
    width: 233PX;
    margin-top: 28px;
    margin-bottom: 0px;
    background: #1DA7D3;
    border-radius: 20px;
    border-style: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}


/* PREGUNTAS FRECUENTES */

.backPreguntasFrecuentes {
    background-color: #eeeeee;
    padding-top: 7em;
    padding-bottom: 9em;
}

.container {
    margin: 50px auto;
}

.container-faq .item-faq {
    border: solid 1px #1DA7D3;
    margin-bottom: 30px;
    border-radius: 10px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 41px 10px 30px;
    transition: .4s;
}

h3 {
    padding-bottom: 0;
    padding-top: 8px;
    font-size: 1.1em;
    color: #1DA7D3;
}

.paddingText {
    padding-left: 1.67em;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 15px -1px rgba(0, 0, 0, .2); */
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s;
}

/* .container-faq .item-faq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .4);
} */

.colorBtn {
    color: #E84D3B;
}

.container-faq .item-faq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 0;
    overflow: hidden;
    height: 0px;
    transition: .4s;
}

.container-faq .item-faq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}


footer {
    background-color: #E84D3B;
    height: 150px;
    display: flex;
    align-items: center;
    /* margin-top: 233px; */
}

.logoFooter {
    margin-left: 22.5em;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1800px) {
    .containerQuinto {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tituloQuinto {
        text-align: center;
    }

    .quintoPlan {
        display: none;
    }

    .textoQuinto {
        width: 80%;
        left: 4%;
    }

    .texto {
        text-align: center;
    }
    .tituloContainerCompromisos{
        margin-bottom: 200px;
    }
    #compromisos{
        width: 70%;
      
    }
    .compromiso{
        height: fit-content;
        padding: 40px; 
    }
   
    .cuadroCompromiso{
        height: fit-content;
    }
    .compromisoGrande{
        margin-bottom: 20px;
    }
    
    .divCirculos{
        display: none;
    }
}

@media only screen and (max-width: 1400px) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btnContainer {
        display: none;
    }
    #compromisos{
        width: 80%;
      
    }
}

@media only screen and (max-width: 1200px) {
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo img {
        margin-left: 3em;
    }

    .child3 {
        display: none;
    }

    .child4 {
        display: none;
    }
    .child5{
        display: none;
    }
    #compromisos{
        width: 90%;
      
    }
    .proximosEncuentros{
        margin-top: 200px;
    }
}

@media only screen and (max-width: 991px) {

    #navBar {
        padding-top: 0;
    }

    .container {
        margin: 0 auto;
    }

    .offcanvas-body {
        padding-left: 0;
        padding-top: 8px;
    }

    .offcanvas {
        background-color: #e84d3b;
        max-width: 33%;
    }

    .nav-item {
        padding-left: 17px;
    }

    .logo img {
        margin: 0;
    }

    .btnBurger {
        margin-bottom: 2.4em;
    }

    

   

}



/* font-family: 'Montserrat', sans-serif;     BOTONES PLANES
font-family: 'Open Sans', sans-serif;         
font-family: 'Playfair Display', serif;       HERO, QUINTO PLAN
font-family: 'Source Sans Pro', sans-serif;   TEXTO , BOTON HERO(600) */