* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    line-height: 22px;
    color: #363232;
    background-color: white;
    overflow-x: hidden;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;

}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.logo img {
    margin-top: 2.5em;
    margin-right: 0;
    margin-left: 5em;
}

.navbar {
    background-color: #e84d3b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    height: 68px;
}

.nav-item {
    padding: 0 40px 0 40px;
}

.nav-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navBarLinks {
    font-size: 15px;
}

.offcanvas-backdrop {
    width: 0;
    height: 180vh;
}



#hero {
    background-image: url(../img/pexels-tima-miroshnichenko-5685765\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner1 {
    background-image: url(../img/Idea1-BannerHome\ 1.png);
    background-repeat: no-repeat;
    background-position: left 120px top 172px;
    background-size: 70vh;
}

#banner3 {
    background-image: url(../img/Idea1-BannerHome\ 3.png);
    background-repeat: no-repeat;
    background-position: right bottom 195px;
    background-size: 60vh;
}

#banner2 {
    background-image: url(../img/Idea1-BannerHome\ 2.png);
    background-repeat: no-repeat;
    background-position: right 119px bottom 1px;
    background-size: 70vh;
}

#banner4 {
    background-image: url(../img/Idea1-BannerHome\ 4.png);
    background-repeat: no-repeat;
    background-position: left -10px bottom 14px;
    background-size: 34vh;
}

h1 {
    margin-bottom: 0;
}

.bannerPrincipal {
    background: linear-gradient(rgba(33, 29, 28, 0.75), rgba(33, 29, 28, 0.75));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    color: #F9F9F9;
}

.bannerPrincipal button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-style: none;
    border-radius: 20px;
    background: #1DA7D3;
    color: #fff;
    width: 222px;
}

.titulo {
    font-family: 'Montserrat';
    color: #E84D3B;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34.5px;
    text-align: center;
    margin-bottom: 28px;
}

#containerQuinto {
    height: 750px;
    background-color: #FBBE1F;
    margin-bottom: 200px;
}

#containerQuinto>.parent {
    overflow: hidden;
}

.tituloQuinto {
    text-align: left;
}


.textoQuinto {
    width: 60%;
    position: relative;
    top: -1000px;
    z-index: 12;
    text-align: left;
    /* or 108% */
}

.texto {
    width: 450px;
    color: #363232;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-right: 0;
    padding: 0 10% 0 10%;

}


.imagenQuinto {
    width: 500px;
}

.btnContainer {
    display: inline-block;
    position: relative;
    top: 80px;
}

.subtitulo {
    font-family: 'Montserrat';
    color: #363232CC;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    margin-top: 28px;
    margin-bottom: 28px;
}

/* padre triangulos */

.parent {
    position: relative;
}

/* triangulo blanco */

.child {
    top: 358px;
    border-top: 950px solid #f9f9f9;
    border-left: 70vw solid transparent;
    border-right: 70vw solid transparent;
    width: 0;
    height: 0;
    top: 0px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: -20.5%;
    right: 0;
    margin: auto;
    z-index: 4;

}

/* triangulo azul */
.parent2 {
    position: relative;


}

.child2 {

    border-top: 110px solid #1da5d3;
    border-left: 7.5vw solid transparent;
    border-right: 7.5vw solid transparent;
    width: 0;
    height: 0;
    top: -200px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
}



.btn5Plan {
    position: absolute;
    bottom: 2em;
    right: 8em;
    border-style: none;
    width: 233PX;
    margin-top: 28px;
    margin-bottom: 0px;
    background: #1DA7D3;
    border-radius: 20px;
    border-style: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}

#calendario2 {
    width: 50%;
    height: 500px;
}



#containerCompromisos {
    text-align: center;
    background-color: rgba(250, 216, 194, 0.5);
    position: relative;
    top: -200px;
    height: 320vh;
}


#compromisos {
    margin-top: 280px;
    width: 1008px;

    display: inline-block;
    text-align: center;

}

.tituloContainerCompromisos {
    margin-bottom: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    z-index: 3;

    position: relative;
    top: -20px;

}

a {
    text-decoration: none;
}

.cuadroCompromiso {
    position: relative;
    height: 253px;
    top: -140px;
    z-index: 3;
    /* width: 60%; */
}

.divCirculos {
    width: auto;
    height: 0;
}

.circulo {
    position: relative;
    top: 165px;
    left: -5.4%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #1DA7D3;
    transform: rotate(270deg);

}

.circulo1 {
    top: 70px;
}

.circulo2 {
    top: 115px;
}

.circulo3 {
    top: 80px;
}

.circulo4 {
    top:100px;
}

.circulo5 {
    top: 150px;

}

.circulo6 {
    top: 70px;
}

.circulo7 {
    top: 70px;
}

.circuloFondo1 {

    position: relative;
    top: -30px;
    left: 4.4%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: white;
    background-image: url("../img/pexels-fauxels-3184397\ \(1\).jpg");
    
    transform: rotate(90deg);
}



/* .circuloFondoGrande {
    position: relative;
    top: 190px;
    left: 4.9%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: white;
    transform: rotate(90deg)
} */

.numeroCompromiso {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.25px;
    transform: rotate(90deg);
    position: relative;
    top: 55%;
    padding-right: 10px;
    cursor: default;

}



.compromiso {

    background: #FFFFFF;
    min-height: 240px;
    width: 81%;
    display: inline-block;
    margin-bottom: 27px;
    padding-left: 15%;
    padding-top: 25px;
    padding-right: 30px;
    text-align: left;
    /* border-radius: 2%; */
    z-index: 85;

}

.compromiso1 {
    z-index: 35;
    height: fit-content;
}

.compromiso2 {
    z-index: 35;
    height: fit-content;
}

.compromiso3 {
    z-index: 35;
    height: fit-content;
}

.compromiso4 {
    z-index: 35;
    height: fit-content;
}

.compromiso5 {
    z-index: 35;
    height: fit-content;
}

.compromiso6 {
    z-index: 35;
    height: fit-content;
}

.compromiso7 {

    height: fit-content;
    z-index: 35;
}


.nombreCompromiso {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #E84D3B;
    line-height: 30.5px;
}

.responsable {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;

}

.textoCompromisos {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);

    letter-spacing: 0.25px;
}

.avances {
    text-align: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #E84D3B;
    letter-spacing: 1.25px;
    cursor: pointer;
}

.avances:hover {
    font-weight: bold;
}

.parent3 {
    position: relative;
    z-index: 8;
    height: 280px;

}

/* triangulo rosa */

.child3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 650px 0 0 49.5vw;
    position: relative;
    top: -850px;
    border-color: transparent transparent transparent white;
    ;
}

.child4 {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 650px 49.5vw;
    border-color: transparent transparent white transparent;
    top: -1500px;
    left: 50%;
    z-index: 0;
}

.parent5 {
    position: relative;

}

.child5 {

    border-top: 110px solid #1da5d3;
    border-left: 8.5vw solid transparent;
    border-right: 8.5vw solid transparent;
    width: 0;
    height: 0;
    top: -650px;
    content: "";
    display: block;
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;

}

.textoPlanesAnteriores {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #1A1A1B;
    text-align: center;
    letter-spacing: 0.0015em;
}

.botonesPlanes {
    position: relative;
    top: -20px;
    z-index: 20;
}

.btnPlanes:hover{
    background-color: #1DA7D3;
    border: none;
}

.btnListado {
    margin-bottom: 54px !important;
}

.btnPlanes {
    width: 105px;
    background: white;
    margin: 10px;
    color: #1da5d3;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #1da5d3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}

#calendario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -580px;
    background-color: white;
    padding-top: 100px;
}

.parrafoEncuentros {
    margin-left: 22.9vw;
    margin-right: 22.9vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;

}

#containerAcerca {
    background-color: white;
    padding-top: 10px;
}

#divAcerca {
    margin-top: 178px;
    margin-left: 22.9vw;
    margin-right: 22.9vw;
    text-align: center;

}

.tituloAcerca {
    font-family: 'Montserrat';
    color: #E84D3B;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34.5px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 63px;
}

.btnAcerca {
    width: 233PX;
    margin-top: 28px;
    margin-bottom: 0px;
    background: #1DA7D3;
    border-radius: 20px;
    border-style: hidden;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 11px 13px 11px;
    letter-spacing: -0.75px;
}


/* PREGUNTAS FRECUENTES */
#linkEscribinos {
    color: #0d6efd;
    text-decoration: none;
    cursor: pointer;
}

.backPreguntasFrecuentes {
    background-color: #eeeeee;
    padding-top: 7em;
    padding-bottom: 9em;
}

.container {
    margin: 50px auto;
}

.container-faq .item-faq {
    border: solid 1px #1DA7D3;
    margin-bottom: 30px;
    border-radius: 10px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 41px 10px 30px;
    transition: .5s;
}

h3 {
    padding-bottom: 0;
    padding-top: 8px;
    font-size: 1.1em;
    color: #1DA7D3;
}

.paddingText {
    padding-left: 1.67em;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1%;
    height: 1%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
    margin-left: 1.2em;
}

.colorBtn {
    color: #E84D3B;
}

.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 0;
    overflow: hidden;
    height: 0;
    transition: .5s;
}

footer {
    background-color: #E84D3B;
}

.colLogo {
    padding-right: 5%;
}

.colLogo2 {
    padding-right: 13%;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1800px) {
    .containerQuinto {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tituloQuinto {
        text-align: center;
    }

    .quintoPlan {
        display: none;
        width: 0%;
    }



    .textoQuinto {
        width: 100%;
        margin-left: 5%;
        margin-right: 2.5%;
        left: -5%;
    }

    .texto {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .tituloContainerCompromisos {
        margin-bottom: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #compromisos {
        width: 70%;

    }

    .compromiso {
        height: fit-content;
        padding: 40px;

    }

    .cuadroCompromiso {
        height: fit-content;
        /* margin-bottom: 80px; */
    }



    .divCirculos {
        display: none;
    }

    #containerCompromisos {
        height: 365vh;
    }
}

@media only screen and (max-width: 1399px) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btnContainer {
        display: none;
    }

    #compromisos {
        width: 80%;

    }

    #containerCompromisos {
        height: 390vh;
    }

}

@media only screen and (max-width: 1200px) {
    .nav-item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .logo img {
        margin-left: 3em;
    }



    #compromisos {
        width: 100%;
    }



    h1 {
        margin-top: 0.7em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 991px) {

    #navBar {
        padding-top: 0;
    }

    .container {
        margin: 0px auto;
    }

    .offcanvas-body {
        padding-left: 0;
        padding-top: 8px;
    }

    .offcanvas {
        background-color: #e84d3b;
        max-width: 85%;
    }

    .nav-item {
        padding-left: 17px;
    }

    .logo img {
        margin: 0;
    }

    .btnBurger {
        margin-bottom: 1.8em;
    }

    #divContacto {
        margin-bottom: 50px;
    }

    .colLogo {
        padding-right: 0;
    }


    .colLogo2 {
        padding-right: 0;
    }

    #containerCompromisos {
        height: 100%;
    }

    #divAcerca {
        margin-top: 178px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;

    }

    .tituloAcerca {

        font-weight: 700;
        font-size: 32px;
        line-height: 34.5px;
        text-align: center;
        margin-bottom: 28px;
        margin-top: 63px;
        margin-right: 5%;
        margin-left: 5%;

    }

    .child {

        border-left: 120vw solid transparent;
        border-right: 120vw solid transparent;

        left: -70.5%;


    }

    .child2 {

        border-top: 110px solid #1da5d3;
        border-left: 14.5vw solid transparent;
        border-right: 14.5vw solid transparent;
        width: 0;
        height: 0;
        top: -200px;
        content: "";
        display: block;
        position: relative;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 4;
    }

    .child3 {
        display: none;
    }

    .child4 {
        display: none;
    }

    .child5 {
        display: none;
    }

    .botonesPlanes {
        margin-bottom: 100px;
        top: -20px;

    }

    .proximosEncuentros {
        margin-bottom: 100px;
    }

    .texto {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .parrafoEncuentros {
        margin-left: 5%;
        margin-right:5%;
        text-align: center;
        margin-top: 0px;
       
   
    }

}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;

    }

    #calendario2 {
        width: 80%;
        height: 300px;
    }

    .logo img {
        width: 90%;
        height: 90%;
    }

    .containerQuinto {
        margin-top: 0.6em;
    }

    h1 {
        margin-top: 0.7em;
        font-size: 0.8em;
    }

    .nombreCompromiso {
        font-size: 1.2em;
    }

    .texto {
        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: -50px;
    }

    .colLogo {
        padding-right: 0%;
        padding-left: 0%;
    }

    .colLogo2 {
        padding-right: 0%;
        padding-left: 0%;
    }

    .btnAcerca {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 380px) {
    .nombreCompromiso {
        font-size: 0.85em;
    }
}



/* font-family: 'Montserrat', sans-serif;     BOTONES PLANES
font-family: 'Open Sans', sans-serif;         
font-family: 'Playfair Display', serif;       HERO, QUINTO PLAN
font-family: 'Source Sans Pro', sans-serif;   TEXTO , BOTON HERO(600) */