* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: #363232;
    background-color: #E8E8E8;
}

.logo img {
    margin-top: 2.8em;
    margin-right: 0;
}

.navbar {
    background-color: #F59234;
    height: 65.12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

}

.nav-item {
    padding: 0 40px 0 40px;
}

#hero {
    font-family: 'Playfair Display', serif;
    height: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
}

#hero button {
    font-family: 'Source Sans Pro', sans-serif;
    border-style: none;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(67,89,138,1) 0%, rgba(20,159,250,1) 100%);
    color: #fff;
    width: 222px;
}

#hero img {
    position: absolute;
    z-index:-1;
    width: 100%;
    padding-bottom: 2em;
}

.titulo {
    font-family: 'Playfair Display', serif;
    color: #10305D;
    font-weight: 400;
    font-size: 25px;
}

#containerQuinto {
    text-align: center;
}

.btnContainer {
    display:inline-block;
    position:relative;
}

.btn5Plan {
    position: absolute;
    bottom:7.5em;
    right: 8.5em;
    font-family: 'Source Sans Pro', sans-serif;
    border-style: none;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(67,89,138,1) 0%, rgba(20,159,250,1) 100%);
    color: #fff;
    width: 221px;
}

.quintoPlan p {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.quintoPlan > button {
    font-family: 'Source Sans Pro', sans-serif;
    border-style: none;
    border-radius: 2px;
    background: linear-gradient(0deg, rgba(67,89,138,1) 0%, rgba(20,159,250,1) 100%);
    color: #fff;
    width: 98px;
}

#containerCompromisos {
    text-align: center;
}

#compromisos {
    height: 1900px;
    width: 1008px;
    display: inline-block;
    text-align: center;
}

.compromiso {
    background-color: #F1EBE0;

    height: 232px;
    width: 958px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 268px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 2%;

}

.nombreCompromiso {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #10305D;

}

.responsable {
    font-family: 'Playfair Display', serif;
    size: 15px;
    line-height: 20px;
}

.avances {
    text-align: end;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.0125em;
}

#calendario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#calendario > h4 {
    font-family: 'Playfair Display', serif;
}

.encuentros{
    width: 1008px;
    text-align: center;
    margin-top: 50PX;
}
.encuentro{
    height: 200px;
    width: 491px;
    background-color: #F1EBE0;
    margin: 15px;
    border-radius: 2%;
    text-align: left;

}
.encuentroTitulo{
    font-family: 'Open Sans', sans-serif;  
    font-size: 20px;
    font-weight: 400;
    color: #BA4613;
}
.encuentroBoton{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #BA4613;
    text-align: end;
}

.containerContacto {
    width: 55%;
}

.tituloContacto {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.containerContacto  p {
    padding-left: 24px;
}


footer {
    background-color: #F59234;
    height: 150px;
    display: flex;
    align-items: center;
}

.logoFooter {
    margin-left: 12em;
}



/* font-family: 'Montserrat', sans-serif;     BOTONES PLANES

font-family: 'Open Sans', sans-serif;         
font-family: 'Playfair Display', serif;       HERO, QUINTO PLAN
font-family: 'Source Sans Pro', sans-serif;   TEXTO , BOTON HERO(600) */